# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Flask
instance/
.webassets-cache

# Uploads
backend/uploads/*

# Node
node_modules/
dist/
frontend/.env

# VS Code
.vscode/

# Database
*.sqlite
*.db

# OS
.DS_Store
Thumbs.db