FLASK_APP=run.py
FLASK_ENV=development
SECRET_KEY=your_secret_key
JWT_SECRET_KEY=your_jwt_secret_key

DATABASE_URL=postgresql://username:password@localhost:5432/database_name

UPLOAD_FOLDER=uploads
MAX_CONTENT_LENGTH=10485760

FRONTEND_URL=http://localhost:5173